<div class="dialog-wrap">
<h2 mat-dialog-title>Update item</h2>


  <mat-dialog-content>
    <div>
      <form class="flex-row" [formGroup]="menuForm" class="flex-row" onSubmit="submit()">
        <mat-form-field class="input-container">
          <input matInput placeholder="Title" autofocus formControlName="title"  maxlength="65" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Description" formControlName="description"  maxlength="100" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Url" formControlName="path"  maxlength="255" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Icon" formControlName="icon" maxlength="20" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Icon Url" formControlName="iconUrl" maxlength="255" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Show at" formControlName="showAt" />
        </mat-form-field>

        <mat-form-field class="input-container">
          <input matInput placeholder="Order" type="number" formControlName="order" />
        </mat-form-field>

        <div class="input-container checkbox-wrap">
          <mat-checkbox title="Should this menu item be expanded by default?" formControlName="expanded"> Expanded?</mat-checkbox>
        </div>

      </form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" color="warn">Cancel(Esc)</button>

    <button mat-raised-button type="button" color="primary" [disabled]="menuForm.invalid" [title]="menuForm.invalid ? 'All fields must be valid' : 'Submit form'"
      (click)="submit()">
      <mat-icon aria-label="Add todo icon">
        <i class="material-icons rotate-minus-30">send</i>
      </mat-icon>
      Submit
    </button>
  </mat-dialog-actions>
</div>
