
form.flex-row{
  flex-wrap: wrap;
}
.input-container{
  flex: 50%;
  padding: 10px;
  .checkbox-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}

.input-container.checkbox-wrap{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}
