
<div class="flex-row">
  <mat-list role="list" class="flex" >
    <mat-list-item role="listitem"  *ngFor="let todo of todos" class="flex-col" >

      <mat-checkbox
          class="example-margin"
          [title]="todo.done ? 'Mark this todo as undone' : 'Mark this todo as done'"
          [(ngModel)]="todo.done"
          (change)="onTodoToggle($event, todo.id, todo.done )">
      </mat-checkbox>

      &nbsp;<span class="subheading-1">{{todo.title}}</span> &nbsp;-&nbsp; <span class="descr">{{todo.description}}</span>
      <span class="flex"></span>

      <button title="Delete this todo item"  mat-button type="button" (click)="onDelete(todo.id)">
        <i class="material-icons warn">delete</i>
      </button>
    </mat-list-item>
  </mat-list>


  <mat-list role="list"  class="flex">
      <mat-list-item role="listitem"  *ngFor="let todo of todos" class="flex-col" >

        <mat-checkbox
            class="example-margin"
            [title]="todo.done ? 'Mark this todo as undone' : 'Mark this todo as done'"
            [(ngModel)]="todo.done"
            (change)="onTodoToggle($event, todo.id, todo.done )">
        </mat-checkbox>

        &nbsp;<span class="subheading-1">{{todo.title}}</span> &nbsp;-&nbsp; <span class="descr">{{todo.description}}</span>
        <span class="flex"></span>

        <button title="Delete this todo item"  mat-button type="button" (click)="onDelete(todo.id)">
          <i class="material-icons warn">delete</i>
        </button>
      </mat-list-item>
    </mat-list>
</div>
