<h5>Checklist items</h5>
<p>Use this list to keep and manage checklist items.</p>
<mat-toolbar>
  <mat-toolbar-row>
      <button class="btn-action" color="primary" title="Add new item" mat-raised-button type="button" (click)="newItem()">
        <mat-icon aria-label="Create new item">
          <i class="material-icons">add</i>
        </mat-icon> New item
      </button>

      <button class="btn-action list-action clear-bg"  title="Permission settings" mat-button type="button" (click)="newItem()">
        <mat-icon aria-label="Create new item">
          <img class="material-icons" src="assets/images/user-permission.png">
        </mat-icon>
      </button>

      <button class="btn-action list-action clear-bg"  title="Alert settings" mat-button type="button" (click)="newItem()">
        <mat-icon aria-label="Alert settings">
          <i class="material-icons">notification_important</i>
        </mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="menu-table"><!-- TODO: remove this class -->
    <!-- Change classname to another name or remove it-->
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row; let element">
        <button class="btn-action" mat-button (click)="edit(element)" type="button" title="Edite this item">
          <mat-icon aria-label="Edit this item">
            <i class="material-icons">edit</i>
          </mat-icon>
        </button>


        <button class="btn-action" mat-icon-button (click)="edit(element)" type="button" title="Manage permissions for this link">
          <mat-icon aria-label="Delete this item">
            <i class="material-icons">vpn_key</i>
          </mat-icon>
        </button>

        <button class="btn-action" mat-button type="button" (click)="delete(element.id)">
          <mat-icon aria-label="Delete this item">
            <i class="material-icons">delete</i>
          </mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 60, 100]" showFirstLastButtons></mat-paginator>
</div>

<hr>
