.menu-table{
  width: 100%;
}

.btn-action{
  min-width: 45px;
}

.item-icon{
  width: 57px;
  .material-icons {
    max-width: 35px;
  }
}

.mat-toolbar-row button.clear-bg{
  background-color: transparent;
}
