<div>
  <form class="example-form" [formGroup]="menuForm" class="flex-row">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Url" formControlName="path" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Url" formControlName="icon" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Url" formControlName="iconUrl" />
    </mat-form-field>

    <mat-checkbox formControlName="expanded"> Expanded?</mat-checkbox>


    <button mat-button type="button" (click)="onAddTodo()">
      <mat-icon aria-label="Add todo icon"><i class="material-icons rotate-minus-30">send</i></mat-icon>
      Add Todo
    </button>
  </form>


</div>

title: ['', Validators.required],
description: [''],
path: ['', Validators.required],
disable: [''],
expanded: [false],
icon: [''],
iconUrl: ['']
