
<h2>Site navigation links</h2>
<p>Use this list to keep and manage site navigation links.</p>
<mat-toolbar >
  <mat-toolbar-row>
      <button class="btn-action" color="primary" title="Add new item" mat-raised-button type="button" (click)="newItem()">
        <mat-icon aria-label="Create new item">
          <i class="material-icons">add</i>
        </mat-icon> New item
      </button>

      <button class="btn-action list-action clear-bg"  title="Permission settings" mat-button type="button" (click)="newItem()">
        <mat-icon aria-label="Manage list permissions">
          <img class="material-icons" src="assets/images/user-permission.png">
        </mat-icon>
      </button>

      <button class="btn-action list-action clear-bg"  title="Alert settings" mat-button type="button" (click)="newItem()">
        <mat-icon aria-label="Add and manage list notifications">
          <i class="material-icons">notifications</i>
        </mat-icon>
      </button>

      <button class="btn-action list-action clear-bg"  title="Print selected items" mat-button type="button" (click)="newItem()">
        <mat-icon aria-label="Print selected items">
          <i class="material-icons">print</i>
        </mat-icon>
      </button>

      <button class="btn-action list-action clear-bg"  title="Groupings" mat-button type="button"  [matMenuTriggerFor]="groupingsMenu">
        <mat-icon aria-label="Groupings">
          <img class="material-icons" src="assets/images/list-groupings-light2.png">
        </mat-icon>
        <mat-menu #groupingsMenu="matMenu">
          <button mat-menu-item>Show at</button>
        </mat-menu>

      </button>

  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-elevation-z8">

<mat-progress-bar [bufferValue]="75" *ngIf="dataSourceIsLoading"  [value]="38" mode="indeterminate"></mat-progress-bar>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)" class="menu-table" >

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
      <td mat-cell *matCellDef="let row; let element">
        <button class="btn-action"  mat-icon-button (click)="edit(element)" type="button" title="Edite this item">
          <mat-icon aria-label="Edit this item">
            <i class="material-icons">edit</i>
          </mat-icon>
        </button>


        <button class="btn-action" mat-icon-button type="button" [matMenuTriggerFor]="moreActions" title="More options on this item">
          <mat-icon aria-label="More options">
            <i class="material-icons">more_vert</i>
          </mat-icon>
        </button>
        <mat-menu #moreActions="matMenu">
            <button class="btn-action" mat-button type="button" title="Manage permissions for this link">
              <mat-icon aria-label="Manage permissions on this item">
                <i class="material-icons">vpn_key</i>
              </mat-icon>
            </button>

            <button class="btn-action" color="default" mat-button type="button" title="Duplicate this item" (click)="duplicate(element)">
              <mat-icon aria-label="Duplicate this item">
                <i class="material-icons">add_to_photos</i>
              </mat-icon>
            </button>

            <button class="btn-action" color="warn" mat-button type="button" title="Delete this item" (click)="delete(element.id)">
              <mat-icon aria-label="Delete this item">
                <i class="material-icons">delete</i>
              </mat-icon>
            </button>

        </mat-menu>
        <!--
      -->
      </td>
    </ng-container>


      <!-- order Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
      <td mat-cell *matCellDef="let element"> {{element.order}} </td>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> Icon </th>
      <td class="item-icon" mat-cell *matCellDef="let element">
        <span *ngIf="element.icon">
          <i class="material-icons">{{element.icon}}</i>
        </span>
        <span *ngIf="element.iconUrl">
          <img class="material-icons" [src]="element.iconUrl" />
        </span>
        <span *ngIf="!element.iconUrl && !element.icon">-</span>
      </td>

    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Path Column -->
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Path </th>
      <td mat-cell *matCellDef="let element"> {{element.path}} </td>
    </ng-container>

    <!-- Show at Column -->
    <ng-container matColumnDef="showAt">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Show at </th>
      <td mat-cell *matCellDef="let element"> {{element.showAt}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<hr/>
<!-- TODO: Remove this list when this component is finished -->
<mat-list class="todo-in-this-component">
    <mat-list-item class="done">It creates items. Create form on a dialog.</mat-list-item>
    <mat-list-item class="done">It allows for duplicating items.</mat-list-item>
    <mat-list-item class="done">It reads items.</mat-list-item>
    <mat-list-item class="done">It updates items. Update form on a dialog.</mat-list-item>
    <mat-list-item class="done">It deletes items.</mat-list-item>
    <mat-list-item class="done"> It is sorting on the server.</mat-list-item>
    <mat-list-item class="done"> It uses hook method onCreating(sets createdDate to the item).</mat-list-item>
    <mat-list-item class="done"> It uses hook method onUpdating(sets lasUpdatedDate to the item).</mat-list-item>
    <mat-list-item>It allows user set permission on this API.</mat-list-item>
    <mat-list-item>It allows user set permission on an individual item.</mat-list-item>
    <mat-list-item>It allows user set an alert when an item is created/edited/deleted.</mat-list-item>
    <mat-list-item>It is paginating on the server.</mat-list-item>
    <mat-list-item>It allows grouping items.</mat-list-item>
    <mat-list-item>It uploads icon image.</mat-list-item>
    <mat-list-item>It prints selected items.</mat-list-item>
</mat-list>
