<mat-toolbar color="primary" role="header">

  <button *ngIf="!opened" mat-fab color="primary" class="no-shadow"  (click)="opened = !opened">
    <i  class="material-icons">menu</i>
  </button>
  <img class="logo" src="../assets/images/logo.png">
  <h3>Learning Angular6 with Angular Material</h3>
</mat-toolbar>

<mat-sidenav-container class="example-container" >

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

    <!-- Menu lateral -->
    <mat-nav-list>
        <a mat-list-item routerLink="/first-page">
          <button mat-mini-fab  *ngIf="opened" mat-raised-button (click)="opened = !opened">
            <mat-icon aria-label="Example icon-button with a heart icon"><i  class="material-icons">close</i></mat-icon>
          </button>
        </a>

        <a mat-list-item routerLink="/task-list">
          <button mat-mini-fab   mat-raised-button  matTooltip="Todos" >
            <mat-icon aria-label="TODOS component"><i  class="material-icons">list</i></mat-icon>
          </button>
        </a>

        <a mat-list-item routerLink="/heroes">
          <button mat-mini-fab   mat-raised-button  matTooltip="Heroes">
            <mat-icon aria-label="Example icon-button with a heart icon"><i  class="material-icons">group</i></mat-icon>
          </button>
        </a>

        <a mat-list-item routerLink="/second-page">
          <button mat-mini-fab   color="accent" mat-raised-button >
            <mat-icon aria-label="Example icon-button with a heart icon"><i  class="material-icons">drive_eta</i></mat-icon>
          </button>
        </a>

        <a mat-list-item routerLink="/second-page">
          <button mat-mini-fab   mat-raised-button >
            <mat-icon aria-label="Example icon-button with a heart icon"><i  class="material-icons">airport_shuttle</i></mat-icon>
          </button>
        </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="padding1em main">





       <router-outlet></router-outlet>
    <!--
    <app-side-menu></app-side-menu>
    <app-todos> </app-todos>
    <app-heroes></app-heroes>
    -->


  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="accent" role="footer">
  <h3>Powered by Angular Material</h3>
</mat-toolbar>
