<mat-toolbar color="primary" role="header" [class.sticky]="fixedToTop" class="main-header">
    <button mat-fab color="primary" class="no-shadow side-nav-trigger" (click)="opened = !opened">
      <i class="material-icons">menu</i>
    </button>
    <img class="logo" src="../assets/images/logo.png">
    <h3 class="header-title flex">Learning Angular6 with Angular Material</h3>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <i class="material-icons">more_vert</i>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Sing in</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>

  <mat-sidenav autosize class="side-nav-container" #sidenav [mode]="sideNavConfig.mode" [(opened)]="opened">

    <div>
      <button *ngIf="opened" mat-button (click)="sidenav.toggle()" class="side-nav-command">
        <i class="material-icons">chevron_left</i>
      </button>
      <button *ngIf="opened" mat-button (click)="toggleLabels()" class="side-nav-command">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
    <app-side-menu [config]="sideNavConfig"></app-side-menu>

  </mat-sidenav>

  <mat-sidenav-content class="app-padding main">

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar color="accent" role="footer">
  <h3>Powered by Angular Material</h3>
</mat-toolbar>
