.button-row button,
.button-row a {
  margin-right: 8px;
}

mat-sidenav-content.main{
  min-height: calc(100vh - 128px);
}
.logo{
  max-width: 50px;
  margin: 5px;
}
.side-nav-container {
  max-width: 250px;
}
.side-nav-command{
  min-width: inherit;
  padding: 0px;
}
