.left{
  flex-basis: 250px;
  min-height: 350px;
  border: dashed 1px #fff;
}

.right{
    border: dashed 1px red;
}

.flex-row{
  flex-wrap: wrap;
}

.tile {
  padding: .4em;
  flex: 1;
  flex-basis: 45%;
  /* min-width: 180px; */
  .tile-img {
    max-width: 100%;
    border: solid 5px #685645;
    border-radius: 5px;
    background-color: #f5f5dc;
    background-color: #ffe8cf;
    background-color: #f7dcbf;
  }

  .title-descr{
    text-align: center;
    padding: 10px;
  }

  a.tile-anchor {
    text-decoration: none;
    color: inherit;
  }

}

@media (min-width: 768px) {
  .tile {
    width: 33.3%;
    padding: .4em;
  }
}

@media (min-width: 1024px) {
  .tile {
    width: 25%;
    min-width: 180px;
    max-width: 300px;
  }
}
