.btn-close {
  height: 26px;
  width: 26px;
  line-height: 3px;
  margin-top: -9px;
  margin-right: -14px;

  ::ng-deep .mat-button-wrapper {
    padding: 0;
    width: 16px;
    height: 15px;
    line-height: 0px;
    i {font-size: 16px;}
  }
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
