<h2 style="color: #F44336;">
    <mat-icon aria-label="Warning"><i class="material-icons">warning</i></mat-icon> This component is under contruction.</h2>

<button mat-raised-button type="button" color="primary" (click)="backupData()">
<mat-icon aria-label="Add todo icon">
  <i class="material-icons rotate-minus-30">file_download</i>
</mat-icon>
Click to download all your data as json data.
</button>

<h3>In this component:</h3>
<ul>
    <li>Download and backup all your data in json format.</li>
    <li>Upload, merge or replace your data.</li>
    <li>Manage your reports.</li>
</ul>

<p >If you have problem with download make sure you browser allows <a href="https://ccm.net/faq/32938-google-chrome-allow-websites-to-perform-simultaneous-downloads" target="blank" style="color: aqua;">multiple downloas</a></p>


