
form.flex-row{
  flex-wrap: wrap;
}
.input-container{
  flex: 47%;
  padding: 10px;
  .checkbox-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}

.error-msg {
  color: #f44336;
}
